<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><i class="icon-class"></i></td>
        <td><img src="flag-url" alt="Country Flag" /></td>
        <td>Country Name</td>
        <td>Capital City</td>
        <td>Population</td>
        <td><button class="btn btn-secondary">Details</button></td>
      </tr>
    </tbody>
  </table>
</section>
